video_to_clip.sanitized.json
{
  "name": "video_to_clip",
  "nodes": [
    {
      "parameters": {
        "command": "=mv ./src/output/* ./clips/{{ $json['titre'].replaceAll(\" \",\"_\").replaceAll(\"'\",\"\") }} && mkdir ./clips/{{ $json['titre'].replaceAll(\" \",\"_\").replaceAll(\"'\",\"\") }}/valide && mv ./clips/{{ $json['titre'].replaceAll(\" \",\"_\").replaceAll(\"'\",\"\") }}/clip* ./clips/{{ $json['titre'].replaceAll(\" \",\"_\").replaceAll(\"'\",\"\") }}/valide"
      },
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        576,
        464
      ],
      "id": "REDACTED",
      "name": "Execute Command7",
      "alwaysOutputData": true,
      "notes": "test"
    },
    {
      "parameters": {
        "command": "=./bin/python ./src/download_video.py {{ $json.URL }}  "
      },
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        496,
        256
      ],
      "id": "REDACTED",
      "name": "Download"
    },
    {
      "parameters": {
        "command": "=./bin/python ./src/transcribe.py"
      },
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        1072,
        -32
      ],
      "id": "REDACTED",
      "name": "transcribe"
    },
    {
      "parameters": {
        "command": "./bin/python ./src/sliding_window.py"
      },
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        864,
        256
      ],
      "id": "REDACTED",
      "name": "sliding_window"
    },
    {
      "parameters": {
        "command": "./bin/python ./src/scoring.py"
      },
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        1120,
        256
      ],
      "id": "REDACTED",
      "name": "scoring"
    },
    {
      "parameters": {
        "command": "./bin/python ./src/snappe_segments.py"
      },
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        1344,
        256
      ],
      "id": "REDACTED",
      "name": "snappe"
    },
    {
      "parameters": {
        "command": "./bin/python ./src/refine.py"
      },
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        1584,
        256
      ],
      "id": "REDACTED",
      "name": "refine"
    },
    {
      "parameters": {
        "command": "./bin/python ./src/extract.py"
      },
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        1808,
        256
      ],
      "id": "REDACTED",
      "name": "extract"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "REPLACE_WITH_SPREADSHEET_ID",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": 0,
          "mode": "list"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        -256,
        80
      ],
      "id": "REDACTED",
      "name": "Get row(s) in sheet"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "2f9fc5b1-7d6b-4413-bfd3-72e52c8a6b02",
              "leftValue": "={{ $json['État'] }}",
              "rightValue": "new",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        -64,
        80
      ],
      "id": "REDACTED",
      "name": "Filter"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        176,
        128
      ],
      "id": "REDACTED",
      "name": "Loop Over Items"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        848,
        -144
      ],
      "id": "REDACTED",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "command": "=mkdir -p  ./clips/{{ $json['titre'].replaceAll(\" \",\"_\").replaceAll(\"'\",\"\") }}"
      },
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        480,
        -96
      ],
      "id": "REDACTED",
      "name": "Execute Command1",
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "REPLACE_WITH_SPREADSHEET_ID",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": 0,
          "mode": "list"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Date de traitement": "={{ $now.format('yyyy-MM-dd') }}",
            "État": "enProcess",
            "row_number": 0,
            "URL": "={{ $json.URL }}"
          },
          "matchingColumns": [
            "URL"
          ],
          "schema": [
            {
              "id": "URL",
              "displayName": "URL",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "titre",
              "displayName": "titre",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "description",
              "displayName": "description",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "sources",
              "displayName": "sources",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "État",
              "displayName": "État",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Date de traitement",
              "displayName": "Date de traitement",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "chemin",
              "displayName": "chemin",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        608,
        16
      ],
      "id": "REDACTED",
      "name": "Update row in sheet"
    },
    {
      "parameters": {
        "command": "./bin/python ./src/extract1.py"
      },
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        1744,
        128
      ],
      "id": "REDACTED",
      "name": "Execute Command"
    },
    {
      "parameters": {
        "command": "./bin/python ./src/extractOrigin.py"
      },
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        1744,
        -48
      ],
      "id": "REDACTED",
      "name": "Execute Command2"
    }
  ],
  "pinData": {},
  "connections": {
    "Execute Command7": { "main": [ [] ] },
    "Download": { "main": [ [] ] },
    "transcribe": { "main": [ [ { "node": "sliding_window", "type": "main", "index": 0 } ] ] },
    "sliding_window": { "main": [ [ { "node": "scoring", "type": "main", "index": 0 } ] ] },
    "scoring": { "main": [ [ { "node": "snappe", "type": "main", "index": 0 } ] ] },
    "snappe": { "main": [ [ { "node": "refine", "type": "main", "index": 0 } ] ] },
    "refine": { "main": [ [ { "node": "extract", "type": "main", "index": 0 }, { "node": "Execute Command", "type": "main", "index": 0 }, { "node": "Execute Command2", "type": "main", "index": 0 } ] ] },
    "extract": { "main": [ [] ] },
    "Get row(s) in sheet": { "main": [ [ { "node": "Filter", "type": "main", "index": 0 } ] ] },
    "Filter": { "main": [ [ { "node": "Loop Over Items", "type": "main", "index": 0 } ] ] },
    "Loop Over Items": { "main": [ [], [ { "node": "Execute Command1", "type": "main", "index": 0 }, { "node": "Download", "type": "main", "index": 0 }, { "node": "Execute Command7", "type": "main", "index": 0 }, { "node": "Update row in sheet", "type": "main", "index": 0 } ] ] },
    "When clicking ‘Execute workflow’": { "main": [ [ { "node": "transcribe", "type": "main", "index": 0 } ] ] }
  },
  "active": false,
  "settings": { "executionOrder": "v1" },
  "versionId": "REDACTED",
  "meta": {},
  "id": "REDACTED",
  "tags": []
}
